.footer {
    background-color: #4a4a4a;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    
    &_b {
        border-radius: 50%;
        border: none;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    _list {
        
    }
}

.list1 {
    list-style: none;
    text-decoration: none;
    color: white;
}

.list2 {
    list-style: none;
}