//contenido
.header {
    height: 100vh;
    background-image: url(../images/cover.jpeg);
    background-position: 90%;
    background-size: cover;
}

.header_img1 {
    background-color: $moss-green;
    padding: 10px;
}

.header_title {
    color: white;
}

.header_p {
    color: white;
}