.school {
    background-color: #d9e4cc;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    
    &_title1 {
        color: #626262;
        font-family: $font-title;
        margin-top: 10px;    
        font-size: 1.3rem;
        gap: 50px;
    }

    &_title2 {
        font-family: $font-title;
        
        margin-top: 3px;
        font-size: 2.2rem;
    }
}

.b_school {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 13px 30px;
    font-weight: bold;
    color: white;
    background-color: $moss-green;
    border-radius: 30px;
    border: none;
    font-size: 2rem;
}