<footer>
  <button>
    <a href="">
      <img src="/images/ico-arrow.svg" alt="scroll arriba">
    </a>
  </button>

    <div>
      <p>&copy; 2023</p>
      <p>we (LOVE) run</p>
    </div>

  

     <nav>

      <ul>
        <li> 
          <a href="https://adalab.es/">TWITTER</a>       
        </li>
       
        <li>
          <a href="https://adalab.es/">INSTAGRAM</a>
        </li>

        <li>
          <a href="https://adalab.es/">YOUTUBE</a>
        </li>
      </ul>
    </nav>

    <nav>
     <ul>
        <li>
          <a href="https://adalab.es/">ZAPATILLAS</a>
        </li>

        <li>
          <a href="https://adalab.es/">ROPA</a>
        </li>

        <li>
          <a href="https://adalab.es/">NIÑO/A</a>
        </li>

        <li>
          <a href="https://adalab.es/">DESTACADO</a>S
        </li>

        <li>
          <a href="https://adalab.es/">TIPS</a>
        </li>
      </ul>
    </nav>
  </section>
</footer>
