<footer class="footer">
  <button class="footer_b">
    <a href="#header"><img src="./images/ico-arrow.svg" alt="scroll arriba"></a>
  </button>


  <div class="footer_div">
    <ul class="footer_list list1">
      <li><a class="footer_list-link" href="https://adalab.es/">ZAPATILLAS</a></li>
      <li><a class="footer_list-link" href="https://adalab.es/">ROPA</a></li>
      <li><a class="footer_list-link" href="https://adalab.es/">NIÑO/A</a></li>
      <li><a class="footer_list-link" href="https://adalab.es/">DESTACADOS</a></li>
      <li><a class="footer_list-link" href="https://adalab.es/">TIPS</a></li>
    </ul>
    <ul class="footer_list list2">
      <li><a class="footer_list-link" href="https://adalab.es/">TWITTER</a></li>
    
      <li><a class="footer_list-link" href="https://adalab.es/">INSTAGRAM</a></li>
      <li><a class="footer_list-link" href="https://adalab.es/">YOUTUBE</a></li>
    </ul>
    
    <div class="footer_list list3">
      <p>&copy;2023</p>
      <p>we <i class="fa-solid fa-heart" style="color: #6c933e;"></i> run</p>
    </div>
  </div>
  
</footer>
