<section class="school" id="school">
    <h3 class="school_title1">¡Prepáralos con tus marcas favoritas!</h3>
    <h2 class="school_title2">VUELTA AL COLE</h2>
    
    <div class="school_div">
        <load src="/partials/articles.html" article_img="./images/lpbts-mod05-img01-desk.png" article_text="Mochilas escolares"/>
        <load src="/partials/articles.html" article_img="./images/lpbts-mod05-img04-mob.png" article_text="Estuches"/>
        <load src="/partials/articles.html" article_img="./images/lpbts-mod05-img03-mob.png" article_text="Bolsas de deporte"/>
    </div>

    <button class="b_school" type="button">Empezar ahora</button>
</section>